@font-face {
    font-family: 'Pixelify';
    src: url('assets/fonts/PixelifySans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

canvas {
    border: 1px solid black;
}

.title {
    font-family: 'Pixelify';
}

/*menu screen on the right*/

.menu-screen {
    width: 640px;
    height: 645px;
    background-color: black;
}

.buttons {
    height: 129px;
    border-top: solid 5px;
    border-color: white;
}

.menu-section {
    height: 516px;
    color: white;
    font-family: 'Pixelify';
}

.menu-buttons-group {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menu-section-button {
    background-color: black;
    border: solid white;
    color: white;
    font-family: 'Pixelify';
    height: 40px;
}

.menu-slide {
    height: 100%
}

.menu-hidden {
    display: none !important;
}

.chars-menu-chars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chars-menu-char {
    padding: 40px auto
}

.screens {
    display: flex;
    justify-content: center;
    position: relative;
}

.log-screen {
    height: 160px;
    background-color: black
}



/*Combat view*/

.combat-screen {
    width: 1280px;
    height: 645px;
    z-index: 1;
    background-color: black;
    position:absolute

}

.pov-view {
    height: 425px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.character-big {
    width: 160px;
    height:160px
}

.orc-shaman {
    background-image: url('./assets/large_sprites/orc-mage.png') ;
    background-size: contain;
}

.combat-menu {
    height: 220px;
    border-top: solid 10px white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.combat-menu .buttons {
    height: 80px;
    width: 90px
}

.combat-main-menu {
    display: flex;
    justify-content: space-between;
}

.human-fighter {
    background-image: url('./assets/large_sprites/medium-fighter/4-0.PNG');
    background-size: cover;

}

.combat-row{
    display: flex;
    justify-content: center;
}